
{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}


{% block body %}
    <div class="page-header">
        <h1>{{ 'web.titulo'|trans|raw }}</h1>
    </div>
    <div class="row">

        <div class="col-sm-6">
            {{ 'web.texto'|trans }}
        </div>

        <div class="col-sm-4">

            <div class="jumbotron">
                <p>
                    {{ 'web.calculo'|trans|raw }}
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" href="{{ path('cliente_nuevo') }}">
                        <i style="font-size:24px" class="fa">&#xf153;</i> {{ 'web.empezar'|trans }}
                    </a>
                </p>
            </div>
        </div>



    </div>
{% endblock %}
